* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.headercontainer {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #ffffff;
  border-radius: 1000px;
  width: 98%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.593);
}

.inputarea {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-image: linear-gradient(359deg, #bcff67, transparent);
  align-items: center;
  height: 120px;
} 

.inputbox {
  display: flex;
  background-color: rgb(195, 255, 203);
  padding: 10px;
  border-radius: 100px;
  box-shadow: 0 0 3px black;
  font-size: 110%;
  justify-content: center;

} 

.inputbox input {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 100px;
  width: 54%;
  font-size: inherit;
  transition: width 0.4s;
}


#getWeatherButton {
  background-color: #ffffff;
  padding: 10px;
  border: 0;
  border-radius: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 31%;
  margin-left: 10px;
  transition: width 0.3s;
}

#getWeatherButton span {
  transition: opacity 0.3s, font-size 0.4s;
}

#getWeatherButton img {
  
}

.reportcontainer {
  overflow: hidden;
  width: 80%;
  height: 76vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

#weatherReport {
  background-image: linear-gradient(45deg, #e29eff, #61e3ff);
  overflow: scroll;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
  text-align: center;
}

#weatherReport::-webkit-scrollbar {
  border-radius: 10px;
  background-color:rgb(209, 239, 243);
  width: 10px;
}
#weatherReport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #749c96;
}

#qrCodeImg {
  height: 100px;
  width: 100px;
}

#qrCode svg {
  scale: 0.7;
  animation: flyUp 0.5s;
}

@keyframes flyUp {
  0% {
    opacity: 0;
    translate: 0 50%;
  }
  100% {
    opacity: 0.7;
    translate: 0 0;
  }
}